*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #000000;
}

header{
    background-color: #000000;
    width: 100vw;
    height: 15vh;
}

.snes-logo{
    background-image: url(../Mockup_Design/1200px-SNES_logo.svg);
    background-size: cover;
    width: 40rem;
    height: 10rem;
}

aside{
    background-color: cyan;
    display: inline-block;
    width: 20%;
    height: 70vh;
}

section{
    background-color: #000000;
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 70vh;
}

.snes-logo-stripe{
    width: 30rem;
    height: 30rem;
    background-image: url(../Mockup_Design/Symbol_with_stripes.svg);
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

footer{
    background-color: mediumslateblue;
    display: block;
    width: 100%;
    height: 10rem;
}